---
layout: "layouts/base.liquid"
title: "LOVE"
permalink: /love.html
eleventyImport: ["characters"]
---

<head>
    <link rel="stylesheet" type="text/css" href="css/pages/love.css">
    {% assign min = 0 %}
    {% assign max = characters.size %}
    {% assign diff = max | minus: min %}
    {% assign randomNumber = "now" | date: "%d%m%y" | modulo: diff | plus: min %}
    {% assign featured = characters.boys[randomNumber] %}
</head>

<section class="content">

  {% include "partials/navbar.liquid" %}

  <img id="featured-love" class="distortion" src="/public/img/featured-love.png"> 

  <div class="container-general ver no-background no-border align-center">

    <div class="container-general hor entry">
        <div class="container-general ver textbox no-border">
          <h2 style="margin-bottom: 0;">
            ❤{{featured.name}}❤
          </h2>
          <h3 style="margin-top:0">
            {{featured.from}}
          </h3>
          <p>{{featured.comment}}</p>
        </div>        
        <div class="container-general ver picturebox no-border">
          <img class="picture" src="/public/img/characters/{{featured.img}}">
        </div>
    </div>
  </div>
    {% comment %} {% for boy in characters.boys %}
      <div class="container-general hor entry">
        <div class="container-general ver textbox no-border">
          <h2 style="margin-bottom: 0;">
            ❤{{boy.name}}❤
          </h2>
          <h3 style="margin-top:0">
            {{boy.from}}
          </h3>
          <p>{{boy.comment}}</p>
        </div>        
        <div class="container-general ver picturebox no-border">
          <img class="picture" src="/public/img/characters/{{boy.img}}">
        </div>
        
        
      </div>
    {% endfor %} {% endcomment %}
  
</section>

{% include "partials/footer.liquid" %}